@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  user-select: none;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-image: url('/starwars-bg.png');
  background-size: cover;

  transition: background-color 1.5s cubic-bezier(0,.71,1,-1.55);
}

body.baaam {
  --background-start-rgb: 255, 255, 255;
}

@media (max-width: 640px) {
  body {
    background-position-x: -220px;
  }
}

.home__error-container {
  @apply my-6 flex justify-center items-center flex-col gap-2;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

.layout-btn {
  @apply px-3 flex border border-transparent outline-none ring-2 ring-neutral-800/50 shadow-lg shadow-neutral-600/50 hover:shadow-neutral-400/40 transition-shadow;
}

.active {
  @apply shadow-md shadow-neutral-300/70 pointer-events-none transition-shadow;
}

.react-flow__node {
  text-align: left !important;
  width: fit-content !important;
}

.react-flow__node-input {
  border: 8px ridge rgb(7, 248, 248) !important;
  background-color: yellow !important;
  border-radius: 1rem !important;
}

.react-flow__node-default {
  border-left: 12px dashed black !important;
  border-right: 12px dashed black !important;
}

.react-flow__node-output {
  border: 4px groove blue !important;
  background-color: lightblue !important;
  border-radius: 1rem !important;
}

.loader {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 50%;
  margin-top: 10px;
}

.loader__content {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  margin-inline: auto;
  border: 0.23em solid #ddd;
  border-left-color: #000;
  animation: load8 1.2s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
